@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Entity.Concrete.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
        <h3 class="single-reservation-title text-center my-3"> Hotel Owners </h3>
        <form method="post" action="/Admin/HotelOwner/DeleteSelected">
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="d-block">
                                <input type="submit" id="submit" class="btn btn-danger invisible" value="Delete Selected One" onclick="return confirm('Are you sure you want to delete selected ones? This operation cannot be undone!')" />
                                <input type="checkbox" id="selectAll" class="d-block mx-auto mt-2" onclick="selectAllCheckboxes()">
                            </th>
                            <th>Image</th>
                            <th>Full Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedHotelOwners" value="@x.Id" onclick="check()" onchange="check()">
                                </td>
                                @if (x.Image == "/Templates/main/assets/img/default-user-image.jpg")
                                {
                                    <td><img src="@x.Image" width="50" /></td>
                                }
                                @if (x.Image != "/Templates/main/assets/img/default-user-image.jpg")
                                {
                                    <td><img src="/images/user/@x.Image" width="50" /></td>
                                }
                                <td>@x.FullName</td>
                                <td>@x.UserName</td>
                                <td>@x.Email</td>
                                <td>@x.PhoneNumber</td>
                                <td>
                                    <a class="btn" title="Delete" onclick="deleteHotelOwner(@x.Id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-5">
            @Html.PagedListPager(
            (IPagedList)Model,
            page => Url.Action("HotelOwner", "Admin", new { page }),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
            LiElementClasses = new string[] { "pagination-list-item-link mx-1 shadow-sm rounded" },
            PageClasses = new string[] { "pagination-list-item" },
            PreviousElementClass = "pagination-list-item-prev",
            NextElementClass = "pagination-list-item-next",
            ActiveLiElementClass = "bg-primary text-white",
            ContainerDivClasses = new string[] { "pagination-list list-style-none" },
            MaximumPageNumbersToDisplay=5
            })
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jque ry.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>
        swal({
            title: 'Success!',
            text: '@Html.Raw(System.Web.HttpUtility.HtmlDecode(TempData["SuccessMessage"].ToString()))',
            icon: 'success',
            timer: 3000,
            buttons: false,
        })
    </script>
}

<script>
    function deleteHotelOwner(id) {
        swal({
            title: 'Delete Hotel Owner',
            text: 'Are you sure you want to delete this hotel owner?',
            icon: 'warning',
            buttons: true,
        }).then((result) => {
            if (result) {
                window.location.href = '/Admin/HotelOwner/Delete?id=' + id;
            }
        });
    }
</script>

<script>
    var users = document.getElementById('users').classList.add('active');
    var hotelOwner = document.getElementById('hotelOwner').classList.add('selected');
</script>

<script>
    function selectAllCheckboxes() {
        var checkboxes = document.getElementsByName('selectedHotelOwners');
        var selectAllCheckbox = document.getElementById('selectAll');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }

        updateSubmitButtonVisibility();
    }

    function check() {
        updateSubmitButtonVisibility();
    }

    function updateSubmitButtonVisibility() {
        var checkboxes = document.getElementsByName('selectedHotelOwners');
        var submitButton = document.getElementById('submit');

        var isChecked = false;

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                isChecked = true;
                break;
            }
        }

        if (isChecked) {
            submitButton.classList.remove("invisible");
        } else {
            submitButton.classList.add("invisible");
        }
    }
</script>